*,
*:before,
*:after
    box-sizing: border-box
    padding: 0
    margin: 0
    font-size: 20px
    font-family: 'Raleway'

a
    text-decoration: none
    color: #fff

li
    list-style: none

img
    width: 100%
    height: 100%
    display: block

$mainBlueColor: #04c2c9

.container
    max-width: 1200px
    margin: 0 auto

.flex-column
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.active
    color: #e98102

.fixed
    position: fixed
    top: 0
    left: 0
    right: 0

.show
    display: block

section
    padding: 6.25rem 0 8.125rem 0
    background-color: #fff

// Section header
.title
    font-size: 2.0625rem
    font-weight: 700
    text-transform: uppercase
    color: #444649
    &:after
        content: ""
        display: block
        width: 4.375rem
        height: 4px
        margin-top: 15px
        background-color: #444649

// HOME
.home
    width: 100%
    height: 100vh
    overflow: hidden
    &__text
        max-width: 50%
        text-align: center
        color: #fff
        font-size: 2rem
        font-weight: bold
        span
            font-family: inherit
            font-size: 40px
            font-weight: 700
            color: #e98102
    &__button
        margin-top: 20px
        &:hover
            background-color: #1b242f
            border: 3px solid #1b242f
            .button__arrow
                transform: rotate(90deg)
    &__canvas
        margin: 0
        padding: 0
        // background-color: #252934

.button
    display: flex
    justify-content: space-around
    text-align: center
    width: 200px
    padding: 7px 15px
    background-color: transparent
    border: 3px solid #fff
    transition: all 0.3s
    color: #fff
    cursor: pointer
    &__text
        font-family: inherit
        font-size: 24px
    &__arrow
        transition: all 0.3s
    &__arrow:before
        content: '\279C'
        font-size: 21px

// MENU
.menu
    height: 50px
    width: 100%
    background-color: #1b242f
    border-bottom: 3px solid $mainBlueColor
    &__list
        display: flex
        max-width: 1200px
        margin: 0 auto
        list-style: none
        text-transform: uppercase
        line-height: 2.5
    &__link
        margin: 0 20px
        transition: all 0.3s
        &:hover
            color: #e98102

// ABOUT
.descr
    font-size: 22px
    text-align: center

.about
    &__title
        margin-bottom: 80px
    &__text span
        font-size: inherit
        color: $mainBlueColor
    &__body
        display: flex
        justify-content: space-around
        margin-top: 80px
    &__item
        width: 48%
        height: auto
    &__img
        margin: 0 auto
        max-width: 300px
        height: auto
        img
            display: block
            width: 100%
            height: auto
    &__bar
        display: flex
        justify-content: space-between
        background-color: #eee
        margin-bottom: 15px
        max-width: 90%
        height: 30px
        span
            margin-right: 15px
            font-size: 15px
            line-height: 2
            color: #666
    &__bar-fill
        width: 70%
        background-color: #00a1a7
    &__name
        width: 110px
        background-color: $mainBlueColor
        color: #fff
        font-size: 15px
        font-weight: bold
        line-height: 2
        text-align: center

// PORTFOLIO
.portfolio
    background-color: #f5f5f5
    &__title
        margin-bottom: 80px
    &__gallery
        display: flex
        margin-top: 60px
    &__item
        width: 33.333%
        max-height: 300px
        text-align: center
        position: relative
        &:hover .item-portfolio
            opacity: 1
        &-second
            display: flex
            justify-content: center
            align-items: center
            background-color: #000
            img
                width: 80%
                height: 90%

.item-portfolio
    width: 100%
    height: 100%
    background-color: #f5f5f5
    position: absolute
    top: 0
    left: 0
    opacity: 0
    transition: all .5s
    &__title
        font-size: 22px
        font-weight: bold
        color: #000
    &__subtitle
        font-size: 16px
        color: #e98102
    &__button
        margin-top: 3.125rem
        color: #000
        border: 2px solid #e98102
        &:hover
            color: #fff
            background-color: #e98102

.triangle
    width: 0
    height: 0
    border-left: 500px solid transparent
    border-right: 500px solid transparent
    border-top: 80px solid #fff
    position: absolute
    left: 50%
    transform: translateX(-50%)

// CONTACTS
.contacts
    background-color: #252934
    &__title
        margin-top: 50px
        color: #fff
        &:after
            background-color: #fff
    &__text
        margin-top: 50px
        color: $mainBlueColor
    &__form
        display: flex
        flex-direction: column
        margin: 50px auto 0
        width: 33%
    &__input
        background-color: #1e242c
        border: none
        margin-bottom: 3px
        padding: 10px 15px
        color: #fff
        outline: none
    &__area
        background-color: #1e242c
        border: none
        min-height: 150px
        margin-bottom: 10px
        padding: 10px 15px
        color: #fff
        outline: none
    &__button
        background-color: transparent
        text-transform: uppercase
        border: 2px solid #fff
        padding: 10px 30px
        max-width: 130px
        color: #fff
        font-size: 16px
        cursor: pointer
        margin-left: auto
        transition: all .3s
        &:hover
            background-color: $mainBlueColor
            border-color: $mainBlueColor

// FOOTER
.button-footer
    width: 50px
    height: 50px

.footer
    padding: 70px 0 50px
    background-color: #1b242f
    position: relative
    &__button
        background-color: #e31b6d
        position: absolute
        left: 50%
        top: -25px
        transform: translateX(-50%)
        transition: all .3s
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        &::before
            content: ''
            display: block
            width: 15px
            height: 15px
            border-top: 4px solid #fff
            border-left: 4px solid #fff
            transform: rotate(45deg) translate(3px, 3px)
        &::after
            content: ''
            display: block
            width: 15px
            height: 15px
            border-top: 4px solid #fff
            border-left: 4px solid #fff
            transform: rotate(45deg)
        &:hover
            background-color: #fb1f79
    &__social
        display: flex
        align-items: center
        justify-content: center
    &__item
        display: flex
        align-items: center
        justify-content: center
        width: 55px
        height: 55px
        background-color: #262f38
        transition: all .3s
        &:not(:last-child)
            margin-right: 30px
        &:hover
            background: #04c2c9
            transform: scale(0.9)
        img
            display: block
            width: 60%
            height: 60%
    &__note
        text-align: center
        color: #8f9aa7
        text-transform: uppercase
        font-size: 14px
        margin-top: 35px
    &__date
        font-size: 18px
        color: #e31b6d

// MODAL
.modal
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-color: rgba(0, 0, 0, 0.5)
    overflow: hidden
    display: none
    &__wrap
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
    &__content
        background-color: #fff
        max-width: 40vw
    &__slider
        img
            width: 100%
            height: auto
            display: block
    &__info
        padding: 20px
        border-top: 3px solid #1b242f
        text-align: left
    &__title
        line-height: 40px
        font-size: 28px
        font-weight: bold
        color: #444
        text-transform: uppercase
    &__subtitle
        font-size: 16px
        font-weight: bold
        color: #c0c0c0
        text-transform: uppercase
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
        padding-bottom: 15px
        margin-bottom: 15px
    &__descr
        font-size: 15px
        color: #444
    &__footer
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0 20px 20px
    &__button
        background-color: #e31b6d
        border-color: #e31b6d
        justify-content: space-around
        max-width: 130px
        max-height: 40px
        font-size: 15px
        font-weight: 600
        text-transform: uppercase
        transition: all .3s
        &:hover
            background-color: #fff
            color: #e31b6d
        &::before
            content: '\1F517'
            font-size: 15px
    &__close
        width: 23px
        height: 23px
        cursor: pointer
        transition: all .5s
        &::before
            content: ''
            display: block
            width: 23px
            height: 4px
            background-color: #c0c0c0
            transform: rotate(45deg) translate(8px, 6px)
        &::after
            content: ''
            display: block
            width: 23px
            height: 4px
            background-color: #c0c0c0
            transform: rotate(-45deg) translate(-3px, 5px)
        &:hover
            transform: rotate(90deg) scale(1.2)
